body {
    background: #1F2937;
    font-family: 'Inter', sans-serif;
    font-size: medium;
}

#app-content {
    margin: 30px 40px;
    width: 500px;
}

#heading-text {
    font-family: 'Karla', sans-serif;
    color: white;
    margin: 0;
}

#heading-green-text {
    color: #4ADF86;
}

.subheading-text {
    color: #D5D4D8;
}

#character-selection {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.character-cb-with-label {
    margin: 4px 0;
    display: flex;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
}

input[type = "checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin: 3px 10px;
    background: #2F3E53;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

input[type = "checkbox"]:hover {
    background: #50698C;
}

input[type = "checkbox"]:checked {
    background: #10B981;
}

input[type = "checkbox"]:after {
    background: #10B981;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    color: white;
    display: none;
}

input[type = "checkbox"]:checked::after {
    display: block;
}

#password-length-selection {
    color: white;
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

#length-input {
    width: 40px;
    margin: 0 10px;
    padding: 8px;
    background: #2F3E53;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: large;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#generate-password-btn {
    background: #10B981;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    font-weight: 500;
    padding: 10px 16px;
    margin: 20px 0 30px;
}

#generated-passwords {
    border-top: 2px solid #2F3E53;
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 20px 0;
}

.generated-password-field {
    background: #273549;
    border-radius: 6px;
    width: 200px;
    min-height: 20px;
    text-align: center;
    padding: 10px 15px;
}

.password-text-dark {
    color: #55F991;
}

.password-text-light {
    color: #5DEF92;
}

